<component name="libraryTable">
  <library name="logback-lib">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../2026_java_notes/library-collection/logback/logback-classic-1.5.34.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../2026_java_notes/library-collection/logback/logback-core-1.5.34.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../2026_java_notes/library-collection/logback/slf4j-api-2.0.18.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>